\#*
tramp
org-roam.db
.org-id-locations
transient/
.local/
eln-cache/
auto-save-list/
url/
.cache/
bookmarks
/.lsp-session-v1
projects
/.dap-breakpoints
/history
/request/
/themes/
/workspace/
network-security.data
recentf
%*%~


